//
// Created by imanuel on 30.08.19.
//

#ifndef TERRARIUM_MEASURE_AND_CONTROL_WIFISECRETS_H
#define TERRARIUM_MEASURE_AND_CONTROL_WIFISECRETS_H

#define WIFI_SSID ""
#define WIFI_PASSPRHASE ""

#endif //TERRARIUM_MEASURE_AND_CONTROL_WIFISECRETS_H
